name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    # 1. Set up the Python environment
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x' # Installs the latest minor version of Python 3

    - name: Install specific modules
      run: pip install torch transformers

    # 2. Run your python script
    - name: Run pre-test Python script
      run: python test/test_output.py

    - name: Build
      run: cargo build --verbose

    - name: Run tests
      run: cargo test --verbose
